_
---

<section class="pitch narrow" style="display:flex; flex-direction: column;">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style="width: 45%">
            @{h3-underline Functional}
            <p>Clojure provides you with all the necessary tools to allow you to adopt functional programming.
                Immutability, higher-order functions and avoiding side-effects are central to Clojure's design and
                philosophy.</p>
        </div>
        <div style="width: 45%">
            @{h3-underline Dynamic}
            <p>Clojure is dynamically typed to help you build more flexible systems that better reflect the real
                world. No more getting stuck trying to build the perfect data-model.</p>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style="width: 45%">
            @{h3-underline Concurrent}
            <p>Clojure's immutable data structures allow you to share them between thread without worry. However, in
                the situations where mutation is necessary, Clojure provides you with thread-safe wrappers to ensure
                that your data is synchronized across threads.</p>
        </div>
        <div style="width: 45%">
            @{h3-underline Runtime Polymorphism}
            <p>Systems that utilize runtime polymorphism are easier to change and extend. Clojure offers simple,
                powerful and flexible mechanisms for runtime polymorphism. Clojure’s protocols and datatypes
                features add mechanisms for abstraction and data structure definition with no compromises vs the
                facilities of the host platform.</p>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style="width: 45%">
            @{h3-underline Interactive}
            <p>Experience REPL-driven development with Clojure. It allows you to make incremental changes to your
                system without ever restarting it to maximize your productivity. You can grow your program, with
                data loaded, adding features, fixing bugs, and testing, in an unbroken stream.</p>
        </div>
        <div style="width: 45%">
            @{h3-underline Hosted}
            <p>Clojure is a hosted language - it compiles to your choice of the JVM, JavaScript or dotnet CLR. This
                gives you access to hundreds of thousands of high-quality libraries that let you always chose the
                best tool for the job at hand.</p>
        </div>
    </div>
</section>